

<section class="w3ls-bnrbtm py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">About Us</h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="~/Content/images/about.jpg" alt="about" class="img-fluid mt-4" />
            </div>
            <div class="col-lg-6 pr-xl-5 mt-4">
                <h3 class="title-sub mb-4">A School should be a place of Light, of Liberty and of Learning </h3>
                <p class="sub-para">
                    Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus
                    at, semper
                    varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
                    per conubia.
                </p>
                <p class="sub-para pt-4 mt-4 border-top">
                    Donec consequat sapien ut leo cursus rhoncus. Nullam dui
                    mi, vulputate ac metus
                    at, semper varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad
                    litora torquent per.
                </p>
            </div>
        </div>
    </div>
</section>



