
<div class="main-w3pvt mian-content-wthree text-center" id="home">
    <div class="container">
        <div class="style-banner mx-auto">
            <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2">Welcome to <span> ENSAFMARKET</span> </h3>
            <p class="mt-3 text-li" id="join">Join the ENSAFMARKET now</p>
            <!-- form -->
           
            <!-- //form -->
        </div>
    </div>
</div>

<section class="w3ls-bnrbtm py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">About Us</h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="~/Content/images/regis.jpg" alt="about" class="img-fluid mt-4" />
            </div>
            <div class="col-lg-6 pr-xl-5 mt-4">
                <h3 class="title-sub mb-4">A School should be a place of Light, of Liberty and of Learning </h3>
                <p class="sub-para">
                    Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus
                    at, semper
                    varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
                    per conubia.
                </p>
               
            </div>
        </div>
    </div>
</section>

<div class="services py-5" id="what">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-xl-5 mb-sm-4 mb-2 text-center text-wh font-weight-bold">What We Do?</h3>
        <div class="row w3pvtits-services-row text-center">
            <div class="col-lg-4 serv-w3mk mt-5">
                <div class="w3pvtits-services-grids">
                    <span class="fa fa-leanpub ser-icon" aria-hidden="true"></span>
                    <h4 class="text-bl my-4">Déposer vos Annonces</h4>
                    <p class="text-left">Itaque earum rerum hic tenetur asap iente delectus rulla accumsan.</p>
                    <a class="service-btn mt-xl-5 mt-4 btn" href="#">Read More<span class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>
            <div class="col-lg-4 serv-w3mk mt-5">
                <div class="w3pvtits-services-grids">
                    <span class="fa fa-graduation-cap ser-icon" aria-hidden="true"></span>
                    <h4 class="text-bl my-4">Consulter les Annonces</h4>
                    <p class="text-left">Itaque earum rerum hic tenetur asap iente delectus rulla accumsan.</p>
                    <a class="service-btn mt-xl-5 mt-4 btn" href="#">Read More<span class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>
            <div class="col-lg-4 serv-w3mk mt-5">
                <div class="w3pvtits-services-grids">
                    <span class="fa fa-users ser-icon" aria-hidden="true"></span>
                    <h4 class="text-bl my-4">Consulter les Services</h4>
                    <p class="text-left">Itaque earum rerum hic tenetur asap iente delectus rulla accumsan.</p>
                    <a class="service-btn mt-xl-5 mt-4 btn" href="#">Read More<span class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="branches py-5" id="courses">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-5 text-center font-weight-bold">Popular Ads</h3>
        <div class="row branches-position pt-lg-4">
            <div class="col-lg-3 col-sm-6 place-w3">
                <!-- branch-img -->
                <div class="team-img team-img-1">
                    <div class="team-content">
                        <h4 class="text-wh">Ad 1</h4>
                        <p class="team-meta">Smod enim aug</p>
                    </div>
                </div>
            </div>
            <!-- / branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-sm-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-2">
                    <div class="team-content">
                        <h4 class="text-wh">Ad 2</h4>
                        <p class="team-meta">Cura bitur eui</p>
                    </div>
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-lg-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-3">
                    <div class="team-content">
                        <h4 class="text-wh">Ad 3</h4>
                        <p class="team-meta">In tempus ac</p>
                    </div>
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-lg-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-4">
                    <div class="team-content">
                        <h4 class="text-wh">Ad 4</h4>
                        <p class="team-meta">Cuan nibh sit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="middlesection-w3pvt py-sm-5 pt-sm-0 pt-5 mt-5" id="stats">
    <div class="container py-xl-5 py-lg-3">
        <div class="offset-lg-4 offset-sm-3 left-build-wthree aboutright-w3pvtwthree">
            <h3 class="title-w3-2 title-w3 mb-md-5 mb-4 font-weight-bold">Our Statistics</h3>
            <div class="row">
                <div class="col-4 w3layouts_stats_left w3_counter_grid">
                    <h4 class="counter">38+</h4>
                    <p class="para-text-w3ls text-li let">Total Teachers</p>
                </div>
                <div class="col-4 w3layouts_stats_left w3_counter_grid2">
                    <h4 class="counter">30+</h4>
                    <p class="para-text-w3ls text-li let">Ads</p>
                </div>
                <div class="col-4 w3layouts_stats_left w3_counter_grid1">
                    <h4 class="counter">50+</h4>
                    <p class="para-text-w3ls text-li let">Students</p>
                </div>
            </div>
        </div>
    </div>
    <div class="property-paper">
        <img src="~/Content/images/img3.png" alt="" class="img-fluid agents-w3" />
    </div>
</div>



 

<!--<section class="clients py-5" id="testi">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-sm-5 mb-4 text-center text-wh font-weight-bold">What Students Say</h3>
        <div class="feedback-info text-center">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                sed do eiusmod tempor
                incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi
            </p>
            <img src="~/Content/images/te1.jpg" alt=" " class="img-fluid mt-5">
            <h4 class="mt-4 text-wh font-weight-bold mb-4">Mary Jane</h4>
        </div>
    </div>
</section>!-->



<section class="contact py-5" id="contact">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-sm-5 mb-4 text-center text-wh font-weight-bold">Contact Us</h3>
        <div class="contact_grid_right pt-4">
            <form action="#" method="post">
                <div class="row contact_left_grid">
                    <div class="col-lg-6 con-left" data-aos="fade-up">
                        <div class="form-group">
                            <input class="form-control" type="text" name="Name" placeholder="Name" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" name="Email" placeholder="Email" required="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="">
                        </div>
                    </div>
                    <div class="col-lg-6 con-right" data-aos="fade-up">
                        <div class="form-group">
                            <textarea id="textarea" placeholder="Message" required=""></textarea>
                        </div>
                        <div class="sub-honey">
                            <button class="form-control btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>