@model EnsafMarket.Core.Models.Advertisement

<div class="card" style="background-color:#ffffff">
    <div class="card-body" style="background-color:#ffffff">
        <div class="row">
            <div class="col-md-5 col-lg-8">
                <div class="media">
                    <div class="media-body">
                        <h4>@Model.Title</h4>
                    </div>
                </div> <div style="display: inline;"> <i class='far fa-clock'></i> Date: @Model.CreatedAt </div> &nbsp;  &nbsp;

                &nbsp;

                <div style="display: inline;">
                    @if(Model.ContentType == EnsafMarket.Core.Models.AdvertisementContentType.Product)
                    {
                        <text>Produit</text>
                    }
                    else
                    {
                        <text>Service</text>
                    }
                </div>
            </div>
            <div class="col">
                <p class="text-muted">
                    <br>
                    <a href="@Url.Action("Details", "Advertisement", new { id = Model.Id })"><button class="btn btn-primary" type="button" style="background-color:#FF7F62;">Détails</button></a>&nbsp;
                </p>
            </div>
        </div>
    </div>
</div>
